<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header :: header}">
<body class="layout-fixed-complete sidebar-mini sidebar-expand-sm bg-body-tertiary">
<div class="app-wrapper">
    <div th:replace="~{fragments/navigation :: left}"/>
    <div class="app-main-wrapper">
        <div th:replace="~{fragments/navigation :: top}"/>
        <main class="app-main">
            <div class="app-content-header">
                <div class="container-fluid">
                </div>
            </div>
            <div class="app-content">
                <div class="container-fluid" layout:fragment="content">
                </div>
            </div>
        </main>
        <div th:replace="~{fragments/footer :: footer-full}"/>
    </div>
    <div th:replace="~{fragments/footer :: footer-js}"/>
</div>
</body>
</html>