<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="fields" class="dataset-attributes dataset-attributes-view">
    <div th:each="attribute : ${model.topAttributes}" th:remove="tag">
        <a th:attr="onclick=|Application.Search.join('${attribute.name}: \'${attribute.value}\'')|" role="button">
            <span th:class="|badge rounded-pill me-1 name-default ${#dataset.getAttributeClasses(attribute)}|">
                <span th:text="${attribute.name}"></span><span>:&nbsp;</span>
                <span th:text="${attribute.value}"></span>
            </span>
        </a>
    </div>
</div>
</body>
</html>