.help {
}

.help ul, .help ol, .help p {
    margin-bottom: 0.7rem !important;
}

.help a.anchor {
    text-decoration: none;
    color : inherit;
}

.help img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 1px solid var(--bs-border-color);
    box-shadow: 5px 5px 5px lightgray;
}

.help img + em, .help img + br + em {
    color: saddlebrown;
    font-size: smaller;
}

@media (min-width: 992px) {

    .modal-help {
        --bs-modal-width: 800px !important;
    }

}

@media (min-width: 1600px) {

    .modal-help {
        --bs-modal-width: 1000px !important;
    }

}