<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:component="https://net.microfalx/component">
<body>

<div th:fragment="editor" id="editor-modal" tabindex="-1"
     class="modal fade modal-xl" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="${resource.name}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body p-0" th:attr="contentId=${id}">
                <nav class="navbar navbar-expand-sm">
                    <div class="container-fluid ps-1">
                        <div class="collapse navbar-collapse">
                            <ul class="navbar-nav me-auto">
                                <div th:unless="${readOnly}" th:remove="tag">
                                    <button type="button" class="nav-item btn btn-primary btn-color me-2 btn-sm dataset-btn-sm" th:attr="onclick=|CodeEditor.save()|" component:tooltip-text="Saves the content"><i class="fa-solid fa-floppy-disk"></i><span class="ms-2">Save</span></button>
                                    <li class="nav-item"><hr class="d-lg-none" /><span class="nav-item d-none d-lg-block me-2">|</span></li>
                                </div>
                                <button type="button" class="btn btn-secondary btn-color btn-sm dataset-btn-sm me-2" th:attr="onclick=|CodeEditor.find()|" component:tooltip-text="Finds text"><i class="fa-solid fa-magnifying-glass"></i><span class="ms-2">Find</span></button>
                                <button type="button" class="btn btn-secondary btn-color btn-sm dataset-btn-sm me-2" th:unless="${readOnly}" th:attr="onclick=|CodeEditor.findAndReplace()|" component:tooltip-text="Finds and replaces text"><i class="fa-solid fa-magnifying-glass-arrow-right"></i></i><span class="ms-2">Replace</span></button>
                                <div th:unless="${readOnly}" th:remove="tag">
                                    <li class="nav-item"><hr class="d-lg-none" /><span class="nav-item d-none d-lg-block me-2">|</span></li>
                                    <button type="button" class="btn btn-secondary btn-color btn-sm dataset-btn-sm me-2" th:attr="onclick=|CodeEditor.copy()|" component:tooltip-text="Copies the content of the editor in the clipboard"><i class="fa-solid fa-copy"></i><span class="ms-2">Copy</span></button>
                                    <button type="button" class="btn btn-secondary btn-color btn-sm dataset-btn-sm me-2" th:attr="onclick=|CodeEditor.paste()|" component:tooltip-text="Copies the content of the clipboard in the editor"><i class="fa-regular fa-paste"></i><span class="ms-2">Paste</span></button>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <iframe id="dataset-download" class="d-none"></iframe>
                </nav>
                <iframe class="w-100 p-0" style="height:650px" loading="lazy" th:src="${#content.getUri(content, readOnly)}"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm dataset-btn-sm" th:attr="onclick=|CodeEditor.close()|">Close</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>