<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default.html}">
<body>
<section layout:fragment="content">
    <div class="col-md-12">
        <div class="bgc-white bd bdrs-3 p-20 mB-20">
            <div>
                <h3 class="c-grey-900" th:text="${title}"></h3>
            </div>
            <div>
                <div class="alert alert-warning" role="alert">
                    This page is under construction
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>