<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div id="error" th:fragment="panel (code, title, message)" th:remove="tag">
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-md-12 text-center">
            <img alt='#' th:src="@{/asset/image/{code}.png}"/>
        </div>
        <div class="col-md-12 text-center">
            <h1 th:text="${code}"></h1>
            <h2 th:text="${title}"></h2>
            <p th:text="${message}"></p>
        </div>
        <div class="col-md-12 text-end">
            <a href="@{/}" type='primary' class='btn btn-primary'>Home</a>
        </div>
    </div>
</div>

</body>
</html>

