<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:asset="https://net.microfalx/asset">
<body>

<footer class="app-footer text-center" th:fragment="footer-full">
    <button type="button" class="btn btn-secondary btn-floating btn-lg" id="btn-back-to-top"><i class="fas fa-arrow-up"></i></button>
    <span>Copyright © 2024 <a th:href="${#application.url}" target='_blank' th:text="${#application.owner}"></a>. All rights reserved.</span>
</footer>

<footer class="app-footer text-center" th:fragment="footer-no-message">
    <button type="button" class="btn btn-secondary btn-floating btn-lg" id="btn-back-to-top"><i class="fas fa-arrow-up"></i></button>
</footer>

<div th:fragment="footer-js" th:remove="tag">
    <asset:js></asset:js>
    <asset:js inline="true" bundles="loader"></asset:js>
    <script>
        Application.start();
    </script>
</div>

</body>
</html>