<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:asset="https://net.microfalx/asset">
<body>

<footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600" th:fragment="footer">
    <button type="button" class="btn btn-secondary btn-floating btn-lg" id="btn-back-to-top"><i class="fas fa-arrow-up"></i></button>
    <span>Copyright © 2023  <a href="https://github.com/adrian-tarau/heimdall" target='_blank'>Heimdall Team</a>. All rights reserved.</span>
    <asset:js></asset:js>
    <script>
        $("#message").delay(2000).fadeOut(1000);
    </script>
    <asset:js inline="true" bundles="loader"></asset:js>
</footer>

</body>
</html>