<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<nav th:fragment="toolbar" class="navbar navbar-expand-lg bg-body-tertiary mB-5">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <button type="button"
                        th:each="button : ${#component.getChildren(toolbar)}"
                        data-bs-toggle="tooltip" title="${button.description}"
                        th:attr="onclick=|Application.action('${button.action}')|"
                        th:class="${#component.getCssClass(button,'btn btn-primary btn-color mR-5')}">
                    <i th:class="${button.icon}"></i><span class="mL-5" th:text="${button.text}"></span>
                </button>
            </ul>
        </div>
    </div>
    <p id="dataset-message" class="d-none" th:if="${message}" th:utext="${message}"></p>
</nav>

<div th:fragment="form">
</div>

<div th:fragment="render">
    <div class="col-md-12">
        <div class="bgc-white bd bdrs-3 p-20 mB-20">
            <div>
                <h3 class="c-grey-900" th:text="${form.name}"></h3>
                <nav th:replace="~{ fragments/form :: toolbar}"></nav>
            </div>
            <table th:replace="~{ fragments/form :: form}"></table>
        </div>
    </div>
</div>

</body>
</html>

