<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:asset="https://net.microfalx/asset"
      xmlns:application="https://net.microfalx/application" xmlns:component="https://net.microfalx/component">

<head th:fragment="header">
    <title th:text="${#application.name}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <asset:css inline="true" bundles="loader"></asset:css>
    <asset:css></asset:css>
    <application:context></application:context>
</head>

<body>

<li class="nav-item" th:fragment="sidebar-button">
    <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button"> <i class="bi bi-list"></i> </a>
</li>

<li class="search-input active" th:fragment="search">
    <form role="search" th:attr="onsubmit='Application.Search.query(); return false'">
        <div class="input-group">
            <button th:unless="${#lists.isEmpty(queryHistory)}" class="btn btn-sm btn-outline-secondary dropdown-toggle btn-search" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-regular fa-clock"></i></button>
            <ul class="dropdown-menu">
                <li th:each="queryItem : ${queryHistory}">
                    <a class="dropdown-item" href="#" th:text="${queryItem}" th:attr="onclick='Application.Search.click(this); return false'">Action</a>
                </li>
            </ul>
            <input id="search" class="form-control" autocomplete="off" style="width:400px"
                   placeholder="Search..." th:value="${query}" component:tooltip="${#dataset.getSearchTooltip()}"
                   component:tooltip-placement="right" component:tooltip-delay="[2000, 2000]">
            <button class="btn btn-sm btn-outline-secondary btn-search" type="button" th:onclick="Application.Search.clear()"><i class="fa-solid fa-xmark"></i></button>
        </div>
    </form>
</li>

<li th:fragment="ajax">
    <div class="spinner-border text-secondary" role="status" style="display: none" id="ajax">
        <span class="visually-hidden">Loading...</span>
    </div>
</li>

<li th:fragment="help">
    <h3>
        <a href="#" th:attr="onclick=|Help.open('Help','home')|" component:tooltip-text="Opens the documentation for the application">
            <i class="fa-solid fa-circle-question text-success"></i>
        </a>
    </h3>
</li>

<li class="nav-item dropdown user-menu" th:fragment="user">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
        <img src="https://randomuser.me/api/portraits/men/10.jpg" class="user-image rounded-circle shadow" alt="User Image">
        <span class="d-none d-md-inline">John Doe</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
        <li class="user-header text-bg-primary"> <img src="https://randomuser.me/api/portraits/men/10.jpg" class="rounded-circle shadow" alt="User Image">
            <p>
                John Doe
                <small>Member since Nov. 2023</small>
            </p>
        </li>
        <li class="user-body">
            <div class="row">
                <div class="col-4 text-center"> <a href="/user/settings">Settings</a> </div>
                <div class="col-4 text-center"> <a href="/user/messages">Messages</a> </div>
            </div>
        </li>
        <li class="user-footer">
            <a href="/user/profile" class="btn btn-default btn-flat">Profile</a>
            <a th:if="${#authentication.isAuthenticated()}" th:remove="tag" href="/logout" class="btn btn-default btn-flat float-end">Sign out</a>
        </li>
    </ul>
</li>

<li class="notifications dropdown" th:fragment="notifications">
    <span class="counter bgc-red">3</span>
    <a href="" class="dropdown-toggle no-after" id="dropdownMenuButton1" data-bs-toggle="dropdown">
        <i class="ti-bell"></i>
    </a>
    <ul class="dropdown-menu">
        <li class="pX-20 pY-15 bdB">
            <i class="ti-bell pR-10"></i> <span class="fsz-sm fw-600 c-grey-900">Notifications</span>
        </li>
        <li>
            <ul class="ovY-a pos-r scrollable lis-n p-0 m-0 fsz-sm">
                <li>
                    <a href="" class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                        <div class="peer mR-15">
                            <img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/1.jpg" alt="">
                        </div>
                        <div class="peer peer-greed">
                            <span>
                                <span class="fw-500">John Doe</span>
                                <span class="c-grey-600">liked your post</span>
                            </span>
                            <p class="m-0">
                                <small class="fsz-xs">5 mins ago</small>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="pX-20 pY-15 ta-c bdT">
            <span><a href="" class="c-grey-600 cH-blue fsz-sm td-n">View All Notifications
                <i class="ti-angle-right fsz-xs mL-10"></i></a>
            </span>
        </li>
    </ul>
</li>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navigation">
    <div class="container-fluid">
        <a href="#" class="navbar-brand" th:text="${application.name}"></a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active" th:href="@{/}">Home</a>
            </div>
            <div class="navbar-nav ms-auto">
                <!--a href="#" class="nav-item nav-link" th:href="@{/login}">Login</a>
                <a href="#" class="nav-item nav-link" th:href="@{/register}">Register</a-->
                <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                    <div class="nav-item navbar-text">
                        <span>Welcome </span><span class="bg-primary"
                                                   th:text="${#authentication.getPrincipal().getUsername()}"></span>
                    </div>
                </th:block>
                <a href="#" class="nav-item nav-link" th:href="@{#}" onclick="$('#form').submit();">Logout</a>
                <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
            </div>
        </div>
    </div>
</nav>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
     th:fragment="section(title)">
    <h1 class="h2" th:text="${title}"></h1>
</div>

</body>
</html>