<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:asset="https://net.microfalx/asset">
<head th:fragment="header">
    <title th:text="${application.name}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <asset:js indent="5"></asset:js>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navigation">
    <div class="container-fluid">
        <a href="#" class="navbar-brand" th:text="${application.name}"></a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active" th:href="@{/}">Home</a>
            </div>
            <div class="navbar-nav ms-auto">
                <!--a href="#" class="nav-item nav-link" th:href="@{/login}">Login</a>
                <a href="#" class="nav-item nav-link" th:href="@{/register}">Register</a-->
                <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                    <div class="nav-item navbar-text">
                    <span>Welcome </span><span class="bg-primary" th:text="${#authentication.getPrincipal().getUsername()}"></span>
                    </div>
                </th:block>
                <a href="#" class="nav-item nav-link" th:href="@{#}" onclick="$('#form').submit();">Logout</a>
                <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
            </div>
        </div>
    </div>
</nav>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"  th:fragment="section(title)">
    <h1 class="h2" th:text="${title}"></h1>
</div>

</body>
</html>