<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:component="https://net.microfalx/component">

<li class="nav-item actived" th:fragment="menu-item">
    <a class="sidebar-link" th:href="@{${item.action}}">
                <span class="icon-holder">
                    <i th:class="${item.icon}"></i>
                </span>
        <span class="title" th:text="${item.text}">Text</span>
    </a>
</li>

<li class="nav-item dropdown" th:fragment="menu">
    <a class="dropdown-toggle" role="button" href="javascript:void(0);">
                <span class="icon-holder">
                  <i th:class="${item.icon}"></i>
                </span>
        <span class="title" th:text="${item.text}">Menu</span>
        <span class="arrow"><i class="ti-angle-right"></i></span>
    </a>
    <ul class="dropdown-menu">
        <div th:each="item : ${#component.getChildren(item)}" th:remove="tag">
            <div th:replace="~{ this :: (${#component.isContainer(item)} ? 'menu' : 'menu-item') }"></div>
        </div>
    </ul>
</li>

<div class="sidebar" th:fragment="left">
    <div class="sidebar-inner">
        <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
                <div class="peer peer-greed">
                    <a class="sidebar-link td-n" th:href="@{/}">
                        <div class="peers ai-c fxw-nw">
                            <div class="peer">
                                <div class="logo">
                                    <img th:src="@{/asset/image/boar.png}">
                                </div>
                            </div>
                            <div class="peer peer-greed">
                                <h5 class="lh-1 mB-0 logo-text" th:text="${#application.name}"></h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="peer">
                    <div class="mobile-toggle sidebar-toggle">
                        <a href="" class="td-n">
                            <i class="ti-arrow-circle-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <ul class="sidebar-menu scrollable pos-r" th:with="menu = ${#navigation.get('left')}">
            <div th:each="item : ${#component.getChildren(menu)}" th:remove="tag">
                <div th:replace="~{ this :: (${#component.isContainer(item)} ? 'menu' : 'menu-item') }"></div>
            </div>
        </ul>
    </div>
</div>

<div class="header navbar" th:fragment="top">
    <div class="header-container">
        <ul class="nav-left">
            <li>
                <a id='sidebar-toggle' class="sidebar-toggle" href="javascript:void(0);">
                    <i class="fa-solid fa-bars"></i>
                </a>
            </li>
            <li class="search-input active">
                <form role="search" th:attr="onsubmit='Application.Search.query(); return false'">
                    <div class="input-group mb-3">
                        <div class="dropdown" th:unless="${#lists.isEmpty(queryHistory)}">
                            <a class="search-history mr-3" data-bs-toggle="dropdown" component:tooltip-text="A search history for the last 10 searches">
                                <i class="fa-regular fa-square-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><h6 class="dropdown-header">Search History</h6></li>
                                <li th:each="queryItem : ${queryHistory}">
                                    <a class="dropdown-item" href="#" th:text="${queryItem}" th:attr="onclick='Application.Search.click(this); return false'">Action</a>
                                </li>
                            </ul>
                        </div>
                        <input id="search" class="form-control" autocomplete="off" type="search" size="80"
                               placeholder="Search..." th:value="${query}" component:tooltip="${#dataset.getSearchTooltip()}"
                               component:tooltip-placement="right" component:tooltip-delay="[2000, 2000]">

                    </div>
                </form>
            </li>
        </ul>
        <ul class="nav-right">
            <li th:replace="~{ fragments/header :: ajax}"></li>
            <!--li th:replace="~{ fragments/header :: notifications}"></li-->
            <li th:replace="~{ fragments/header :: user}"></li>
            <li th:replace="~{ fragments/header :: help}"></li>
        </ul>
    </div>
</div>

</body>
</html>