<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:component="https://net.microfalx/component">

<li class="nav-item" th:fragment="sidebar-button">
    <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button"> <i class="bi bi-list"></i> </a>
</li>

<li class="nav-item" th:fragment="menu-item" th:if="${#security.hasRole(item)}">
    <a th:href="@{${item.action}}" class="nav-link" th:classappend="${#component.getActiveClass(item)}">
        <span class="nav-link-icon d-md-none d-lg-inline-block">
            <i th:class="${item.icon}"></i>
        </span>
        <span class="nav-link-title" th:text="${item.text}"></span>
    </a>
</li>

<a class="dropdown-item" th:href="@{${item.action}}" th:fragment="menu-item2" th:if="${#security.hasRole(item)}">
    <span class="nav-link-icon d-md-none d-lg-inline-block">
        <i th:class="${item.icon}"></i>
    </span>
    <span th:text="${item.text}"></span>
</a>

<div class="dropend" th:fragment="menu2" th:if="${#security.hasRole(item)}">
    <a class="dropdown-item dropdown-toggle" th:href="@{${item.action}}" data-bs-toggle="dropdown"
       data-bs-auto-close="false" role="button" aria-expanded="false">
        <span class="nav-link-icon d-md-none d-lg-inline-block">
            <i th:class="${item.icon}"></i>
        </span>
        <span class="nav-link-title" th:text="${item.text}"></span>
    </a>
    <div class="dropdown-menu">
        <div th:each="item : ${#component.getChildren(item)}" th:remove="tag">
            <div th:replace="~{ this :: (${#component.isContainer(item)} ? 'menu2' : 'menu-item2') }"></div>
        </div>
    </div>
</div>

<li class="nav-item dropdown" th:fragment="menu" th:if="${#security.hasRole(item)}">
    <a class="nav-link dropdown-toggle" th:href="@{${item.action}}" data-bs-toggle="dropdown" data-bs-auto-close="false"
       role="button" aria-expanded="false">
        <span class="nav-link-icon d-md-none d-lg-inline-block">
            <i th:class="${item.icon}"></i>
        </span>
        <span class="nav-link-title" th:text="${item.text}"></span>
    </a>
    <div class="dropdown-menu" th:style="${#component.getActiveStyle(item)}">
        <div class="dropdown-menu-columns">
            <div class="dropdown-menu-column">
                <div th:each="item : ${#component.getChildren(item)}" th:remove="tag">
                    <div th:replace="~{ this :: (${#component.isContainer(item)} ? 'menu2' : 'menu-item2') }"></div>
                </div>
            </div>
        </div>
    </div>
</li>

<div class="nav-item" th:fragment="ajax">
    <div class="spinner-border text-secondary" role="status" style="display: none" id="ajax">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="nav-item" th:fragment="help">
    <a href="#" class="nav-link d-flex lh-1 p-0 px-2" th:attr="onclick=|Help.open('Help','home')|"
       component:tooltip-text="Opens the documentation for the application">
        <i class="fa-solid fa-circle-question text-success help-icon help-icon-main"></i>
    </a>
</div>

<div class="nav-item dropdown" th:fragment="user">
    <a href="#" class="nav-link d-flex lh-1 p-0 px-2" data-bs-toggle="dropdown" aria-label="Open user menu">
        <span class="avatar avatar-sm">
            <img th:src="${#security.imageUrl}" alt="User Image"/>
        </span>
        <div class="d-none d-xl-block ps-2">
            <div th:text="${#security.getName()}"></div>
        </div>
    </a>
    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
        <a th:href="@{/user/settings}" class="dropdown-item">Settings</a>
        <a th:href="@{/user/messages}" class="dropdown-item">Messages</a>
        <a th:href="@{/user/profile}" class="dropdown-item">Profile</a>
        <th:block th:if="${#security.isAuthenticated()}">
            <div class="dropdown-divider"></div>
            <a th:href="@{/logout}" class="dropdown-item">Logout</a>
        </th:block>
    </div>
</div>

<div th:fragment="search">
    <form role="search" th:attr="onsubmit='Application.Search.query(); return false'">
        <div class="input-group">
            <button th:unless="${#lists.isEmpty(queryHistory)}"
                    class="btn btn-sm btn-outline-secondary dropdown-toggle btn-search" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-clock-rotate-left"></i>
            </button>
            <ul class="dropdown-menu">
                <li th:each="queryItem : ${queryHistory}">
                    <a class="dropdown-item" href="#" th:text="${queryItem}"
                       th:attr="onclick='Application.Search.click(this); return false'">Action</a>
                </li>
            </ul>
            <input id="search" class="form-control" autocomplete="off" style="width:400px"
                   placeholder="Search..." th:value="${query}" component:tooltip="${#dataset.getSearchTooltip()}"
                   component:tooltip-placement="right" component:tooltip-delay="[2000, 2000]">
            <button class="btn btn-sm btn-outline-secondary btn-search" type="button"
                    th:onclick="Application.Search.clear()"><i class="fa-solid fa-xmark"></i></button>
        </div>
    </form>
</div>

<li class="notifications dropdown" th:fragment="notifications">
    <span class="counter bgc-red">3</span>
    <a href="" class="dropdown-toggle no-after" id="dropdownMenuButton1" data-bs-toggle="dropdown">
        <i class="ti-bell"></i>
    </a>
    <ul class="dropdown-menu">
        <li class="pX-20 pY-15 bdB">
            <i class="ti-bell pR-10"></i> <span class="fsz-sm fw-600 c-grey-900">Notifications</span>
        </li>
        <li>
            <ul class="ovY-a pos-r scrollable lis-n p-0 m-0 fsz-sm">
                <li>
                    <a href="" class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                        <div class="peer mR-15">
                            <img class="w-3r bdrs-50p" src="https://randomuser.me/api/portraits/men/1.jpg" alt="">
                        </div>
                        <div class="peer peer-greed">
                            <span>
                                <span class="fw-500">John Doe</span>
                                <span class="c-grey-600">liked your post</span>
                            </span>
                            <p class="m-0">
                                <small class="fsz-xs">5 mins ago</small>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="pX-20 pY-15 ta-c bdT">
            <span><a href="" class="c-grey-600 cH-blue fsz-sm td-n">View All Notifications
                <i class="ti-angle-right fsz-xs mL-10"></i></a>
            </span>
        </li>
    </ul>
</li>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
     th:fragment="section(title)">
    <h1 class="h2" th:text="${title}"></h1>
</div>

<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark" th:fragment="primary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu"
                aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-brand navbar-brand-autodark">
            <a th:href="@{/}">
                <img th:src="@{|/asset/image/${#application.logo}|}" class="navbar-brand-image opacity-75 shadow">
                <span th:text="${#application.name}" class="navbrand-text"></span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="sidebar-menu">
            <ul th:with="menu = ${#navigation.get('primary')}" class="navbar-nav pt-lg-3">
                <div th:each="item : ${#component.getChildren(menu)}" th:remove="tag">
                    <div th:replace="~{ this :: (${#component.isContainer(item)} ? 'menu' : 'menu-item') }"></div>
                </div>
            </ul>
        </div>
    </div>
</aside>

<div class="sticky-top" th:fragment="secondary">
    <header class="navbar navbar-expand-md sticky-top d-print-none">
        <div class="container-xl">
            <div class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                <li th:replace="~{::search}"></li>
            </div>
            <div class="navbar-nav flex-row order-md-last">
                <div class="d-none d-md-flex">
                    <div th:replace="~{::ajax}"></div>
                </div>
                <div th:replace="~{::user}"></div>
                <div th:replace="~{::help}"></div>
            </div>
        </div>
    </header>
</div>

</body>
</html>