<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:component="https://net.microfalx/component">

<!-- Search field, usually somewhere in the navigation -->
<li class="search-input active" th:fragment="search">
    <form role="search" th:attr="onsubmit='Application.Search.query(); return false'">
        <div class="input-group">
            <button th:unless="${#lists.isEmpty(queryHistory)}" class="btn btn-sm btn-outline-secondary dropdown-toggle btn-search" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-clock-rotate-left"></i></button>
            <ul class="dropdown-menu">
                <li th:each="queryItem : ${queryHistory}">
                    <a class="dropdown-item" href="#" th:text="${queryItem}" th:attr="onclick='Application.Search.click(this); return false'">Action</a>
                </li>
            </ul>
            <input id="search" class="form-control" autocomplete="off" style="width:400px"
                   placeholder="Search..." th:value="${query}" component:tooltip="${#dataset.getSearchTooltip()}"
                   component:tooltip-placement="right" component:tooltip-delay="[2000, 2000]">
            <button class="btn btn-sm btn-outline-secondary btn-search" type="button" th:onclick="Application.Search.clear()"><i class="fa-solid fa-xmark"></i></button>
        </div>
    </form>
</li>

<!-- The loading indicator for Ajax requests -->
<li th:fragment="ajax">
    <div class="spinner-border text-secondary" role="status" style="display: none" id="ajax">
        <span class="visually-hidden">Loading...</span>
    </div>
</li>

<!-- The help button for the whole application -->
<li th:fragment="help">
    <h3>
        <a href="#" th:attr="onclick=|Help.open('Help','home')|" component:tooltip-text="Opens the documentation for the application">
            <i class="fa-solid fa-circle-question text-success"></i>
        </a>
    </h3>
</li>

<!-- The button for displaying the user information -->
<li class="nav-item dropdown user-menu" th:fragment="user">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
        <img th:src="${#security.imageUrl}" class="user-image rounded-circle shadow" alt="User Image">
        <span class="d-none d-md-inline" th:text="${#security.getName()}"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
        <li class="user-header text-bg-primary"> <img th:src="${#security.imageUrl}" class="rounded-circle shadow" alt="User Image">
            <p>
                <span th:text="${#security.getName()}"></span>
            </p>
            <p>
                <small th:text="${#security.getEmail()}"></small>
            </p>
        </li>
        <li class="user-body">
            <div class="row">
                <div class="col-4 text-center"> <a href="/user/settings">Settings</a> </div>
                <div class="col-4 text-center"> <a href="/user/messages">Messages</a> </div>
                <div class="col-4 text-center"> <a href="/user/profile">Profile</a> </div>
            </div>
        </li>
        <li class="user-footer">
            <a th:if="${#security.isAuthenticated()}" href="/logout" class="btn btn-default btn-flat float-end">Sign out</a>
        </li>
    </ul>
</li>

<!-- The primary navigation, most of the time on the left side of the page -->

<aside class="bg-body-secondary shadow nav-indent nav-compact" data-bs-theme="dark" th:fragment="primary">
    <p>Render "primary" navigation</p>
</aside>

<!-- The secondary navigation, most of the time on the top of the page -->

<nav class="app-header navbar navbar-expand bg-body" th:fragment="secondary">
    <p>Render "secondary" navigation</p>
</nav>

<!-- The tertiary navigation, most of the time is not present but if exists is somewhere near the secondary navigation -->

<nav class="app-header navbar navbar-expand bg-body" th:fragment="tertiary">
    <p>Render "tertiary" navigation</p>
</nav>

</html>