<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<li class="nav-item" th:fragment="menu-item" th:if="${#security.hasRole(item)}">
    <a th:href="@{${item.action}}" class="nav-link" th:classappend="${#component.getActiveClass(item)}">
        <i class="nav-icon" th:classappend="${item.icon}"></i>
        <p th:text="${item.text}"></p>
    </a>
</li>

<li class="nav-item" th:fragment="menu" th:if="${#security.hasRole(item)}">
    <a href="#" class="nav-link"> <i class="nav-icon" th:classappend="${item.icon}"></i>
        <p><span th:text="${item.text}"></span><i class="nav-arrow bi bi-chevron-right"></i></p>
    </a>
    <ul class="nav nav-treeview" th:style="${#component.getActiveStyle(item)}">
        <div th:each="item : ${#component.getChildren(item)}" th:remove="tag">
            <div th:replace="~{ this :: (${#component.isContainer(item)} ? 'menu' : 'menu-item') }"></div>
        </div>
    </ul>
</li>

<aside class="app-sidebar bg-body-secondary shadow nav-indent nav-compact" data-bs-theme="dark" th:fragment="left">
    <div class="sidebar-brand">
        <a th:href="@{/}" class="brand-link">
            <img th:src="@{|/asset/image/${#application.logo}|}" class="brand-image opacity-75 shadow">
            <span th:text="${#application.name}" class="brand-text fw-light"></span>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <ul th:with="menu = ${#navigation.get('left')}" class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                <div th:each="item : ${#component.getChildren(menu)}" th:remove="tag">
                    <div th:replace="~{ this :: (${#component.isContainer(item)} ? 'menu' : 'menu-item') }"></div>
                </div>
            </ul>
        </nav>
    </div>
</aside>

<nav class="app-header navbar navbar-expand bg-body" th:fragment="top">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li th:replace="~{ fragments/header :: sidebar-button}"></li>
            <li th:replace="~{ fragments/header :: search}"></li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li th:replace="~{ fragments/header :: ajax}"></li>
            <!--li th:replace="~{ fragments/header :: notifications}"></li-->
            <li th:replace="~{ fragments/header :: user}"></li>
            <li th:replace="~{ fragments/header :: help}"></li>
        </ul>
    </div>
</nav>

</body>
</html>