<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/page :: header}"></head>
<body class="layout-fluid">
<div class="page">
    <div th:replace="~{fragments/navigation :: primary}"/>
    <div class="page-wrapper">
        <div th:replace="~{fragments/navigation :: secondary}"/>
        <div class="page-body">
            <div class="container-xl" layout:fragment="content">
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer-full}"/>
    </div>
</div>
<div th:replace="~{fragments/page :: code}"/>
</body>
</html>