<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
<body class="app">
<div>
    <div class="page-container">
        <main class='main-content'>
            <div class='pos-a t-0 l-0 bgc-white w-100 h-100 d-f fxd-r fxw-w ai-c jc-c pos-r p-30'>
                <div class='mR-60'>
                    <img alt='#' th:src="@{/asset/image/login.png}"/>
                </div>
                <div class='d-f jc-c fxd-c'>
                    <h2>Sign In</h2>
                    <form th:action="@{/auth/login}" method="POST">
                        <div class="mb-3">
                            <label class="text-normal text-dark form-label">Username</label>
                            <input class="form-control" name="username">
                        </div>
                        <div class="mb-3">
                            <label class="text-normal text-dark form-label">Password</label>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <div class="mb-3">
                            <div class="peers ai-c jc-sb fxw-nw">
                                <div class="peer">
                                    <div class="checkbox checkbox-circle checkbox-info peers ai-c"><input
                                            type="checkbox" id="inputCall1" name="inputCheckboxesCall" class="peer">
                                        <label for="inputCall1" class="peers peer-greed js-sb ai-c form-label"><span
                                                class="peer peer-greed">Remember Me</span></label></div>
                                </div>
                                <div class="peer">
                                    <button class="btn btn-primary btn-color" type="submit">Login</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>