@media (min-width: 576px) {

    .modal-content {
        height: 450px !important;
    }

}

@media (min-width: 992px) {

    .modal-lg .modal-content {
        min-height: 500px !important;
    }

    .modal-xl .modal-content {
        min-height: 500px !important;
    }

}

@media (min-width: 1200px) {

    .modal-lg .modal-content {
        min-height: 500px !important;
    }

    .modal-xl .modal-content {
        min-height: 600px !important;
    }

}

@media (min-width: 1600px) {

    .modal-lg .modal-content {
        min-height: 700px !important;
    }

    .modal-xl .modal-content {
        min-height: 800px !important;
    }

}