.dataset-table {

}

.dataset-table tr.borderless {
    border-bottom: hidden !important;
}

.dataset-table tr.detail td {
    font-size: smaller !important;
    padding-top: 2px !important;;
    padding-bottom: 4px !important;;
}

.dataset-table-resizer {
    position: absolute;
    top: 0;
    right: -8px;
    bottom: 0;
    left: auto;
    width: 16px;
    cursor: col-resize;
}