.dataset-table {

}

.dataset-table tr.borderless {
    border-bottom: hidden !important;
}

.dataset-table tr.detail td {
    /*font-size: smaller !important;*/
    padding-top: 2px !important;
    padding-bottom: 4px !important;;
}

.dataset-table-resizer {
    position: absolute;
    top: 0;
    right: -8px;
    bottom: 0;
    left: auto;
    width: 16px;
    cursor: col-resize;
}

@media (min-width: 992px) {

    .dataset-table .search-attributes {
        max-width: 600px;
    }

}

@media (min-width: 1200px) {

    .dataset-table .search-attributes {
        max-width: 900px;
    }

}
@media (min-width: 1400px) {

    .dataset-table .search-attributes {
        max-width: 1100px;
    }

}

@media (min-width: 1600px) {

    .dataset-table .search-attributes {
        max-width: 1300px;
    }

}