<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="fields">
    <div class="container-fluid">
        <div class="row border rounded bg-body-secondary mb-3 p-3 fs-6">
            <div class="row">
                <div class="col-md-8"><span class="fw-bold">Message: </span>
                    <span class="fst-italic"  th:text="${message}"></span>
                </div>
                <div class="col-md-4"><span class="fw-bold">Created At: </span><span class="fst-italic" th:text="${#formats.format(model.createdAt)}"></span></div>
            </div>
            <div class="row">
                <div class="col-md-4"><span class="fw-bold">Level: </span><span class="fst-italic" th:text="${#formats.format(model.level)}"></span></div>
                <div class="col-md-2"><span class="fw-bold">Total Count: </span><span class="fst-italic" th:text="${#formats.format(model.totalCount)}"></span></div>
                <div class="col-md-2"><span class="fw-bold">UAck. Count: </span><span class="fst-italic" th:text="${#formats.format(model.pendingCount)}"></span></div>
                <div class="col-md-4"><span class="fw-bold">Modified At: </span><span class="fst-italic" th:text="${#formats.format(model.updatedAt)}"></span></div>
            </div>
            <div class="row">
                <div class="col-md-4"><span class="fw-bold">Failure Type: </span><span class="fst-italic" th:text="${model.failureType}"></span></div>
                <div class="col-md-8"><span class="fw-bold">Failure Class: </span><span class="fst-italic" th:text="${model.failureClass}"></span></div>
            </div>
        </div>
        <div class="row mb-3 p-3 fs-6">
            <div>
                <h5>Message</h5>
                <div class="dataset-text-mono alert" th:text="${alert.message}" th:classappend="${alertClass}"></div>
            </div>
            <div th:if="${stackTrace}">
                <h5>Stack Trace</h5>
                <div class="dataset-text-mono alert alert-light" th:text="${stackTrace}"></div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>