<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:component="https://net.microfalx/component">
<body>

<span th:fragment="header-separator" class="mx-2"></span>

<a th:fragment="header-close" href="#" component:tooltip-text="Closes the current window" class="text-secondary icon-link" onclick="Application.closeModal()">
    <i class="fa-regular fa-circle-xmark"></i>
</a>

<a th:fragment="header-action(icon, tooltip, function)" href="#" component:tooltip="${tooltip}" class="text-secondary icon-link" th:attr="onclick=|${function}|">
    <i class="${icon}"></i>
</a>

</body>
</html>