<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div id="error" th:fragment="panel (code, title, message)" th:remove="tag">
    <div class="justify-content-center align-items-center mt-auto">
        <div class="col-md-12 text-center">
            <img alt='#' th:src="@{'/asset/image/'+${code}+'.png'}"/>
        </div>
        <div class="col-md-12 text-center">
            <h1 th:text="${code}"></h1>
            <h2 th:text="${title}"></h2>
            <p th:text="${message}"></p>
        </div>
    </div>
</div>

</body>
</html>

