<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<body>

<div th:fragment="settings_menu" id="settings_menu" class="accordion">
    <div th:each="section : ${sections}" class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button shadow-none" type="button" data-bs-toggle="collapse"
                    th:data-bs-target="'#' + ${section.id}"  th:text="${section.name}">
            </button>
        </h2>
        <div th:id="${section.id}" class="accordion-collapse collapse">
            <div class="accordion-body">
                <div class="list-group">
                    <th:block th:each="item : ${section.items}">
                        <a href="#" class="list-group-item list-group-item-action" th:classappend="${settingsHelper.getItemClass(item)}" th:data-group-id="${item.fullKey}" th:text="${item.name}" th:attr="onclick=|Configuration.load(this)|"></a>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="settings_field(field)" class="input-group input-group-sm mb-1" th:classappend="${settingsHelper.getFieldGroupClass(field)}">
    <label class="input-group-text" th:text="${field.name}" style="min-width : 250px"></label>
    <input th:if="${settingsHelper.isTextField(field)}" th:required="${settingsHelper.isRequired(field)}" th:type="${settingsHelper.getTextFieldType(field)}" class="form-control" th:classappend="${settingsHelper.getFieldClass(field)}" th:value="${settingsHelper.getValue(field)}" autocomplete="new-password"></input>
    <input th:if="${settingsHelper.isCheckboxField(field)}" class="form-check-input m-2" type="checkbox" th:classappend="${settingsHelper.getFieldClass(field)}" th:checked="${settingsHelper.isChecked(field)}" autocomplete="new-password" ></input>
    <textarea th:if="${settingsHelper.isTextArea(field)}" th:required="${field.required}" class="form-control" th:classappend="${settingsHelper.getFieldClass(field)}" th:value="${settingsHelper.getValue(field)}"></textarea>
</div>

<div th:fragment="settings_fields" th:remove="tag">
    <th:block th:each="field : ${settingsHelper.getChildren()}">
        <h5 class="border-bottom text-secondary border-1 border-opacity-50 pb-1 mt-3 mb-2" th:if="${settingsHelper.hasSeparator(field)}" th:text="${field.separator}"></h5>
        <div th:replace="~{ :: settings_field(${field})}"></div>
    </th:block>
</div>

<div th:fragment="settings_content" class="card mh-100" style="min-height:500px">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h3 id="settings_field_title" class="card-title fs-3" th:text="${settingsHelper.getGroupName()}"></h3>
            <div>

            </div>
        </div>
    </div>
    <div class="card-body">
        <form id="settings_fields" novalidate autocomplete="off">
            <div th:replace="~{ :: settings_fields}"></div>
        </form>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-primary btn-sm dataset-btn-sm" th:attr="onclick=|Settings.save()|">Save</button>
    </div>
</div>

<section layout:fragment="content">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header border-0 pb-0" th:if="${#page.hasTitle()}">
                <div class="d-flex justify-content-between">
                    <h3 class="card-title fs-3" th:text="${#page.getTitle()}"></h3>
                    <div>
                        <span th:replace="~{ fragments/page :: help}"></span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div th:replace="~{ :: settings_menu}"></div>
                    </div>
                    <div class="col-md-9">
                        <div th:replace="~{ :: settings_content}"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
</body>
</html>