.help {

}

.help-icon {
    font-size: 2rem !important;
}

.help-icon-main {

}

.help-icon-page {

}

.help-button {
    font-size: 1.5rem !important;
}

.help h1, .help h2, .help h3, .help h4, .help h5, .help h6 {
    /*font-size: smaller;*/
}

.help ul, .help ol, .help p {
    margin-bottom: 0.7rem !important;
}

.help a.anchor {
    text-decoration: none;
    color : inherit;
}

.help pre {
    background-color: #f6f8fa;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
}

.help img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 1px solid var(--bs-border-color);
    box-shadow: 5px 5px 5px lightgray;
}

.help img + em, .help img + br + em {
    color: saddlebrown;
    font-size: smaller;
}

/**
 * Blockquotes
 */

.help blockquote {
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 16px;
    border-left-width: 3px;
    padding: 0 1em;
    color: #828282;
    border-left: 4px solid #e8e8e8;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;
}

.help blockquote * {
    font-style: normal !important;
    letter-spacing: 0;
    color: #6a737d !important;
}

.modal-help iframe {
    border: 0;
}

/* TOC */

.help .toc {
    list-style: none;
}

.help .toc ol {
    list-style: none;
    padding-left: 0;
}

.help .toc ol ol {
    padding-left: 1em;
}

.help .toc li {
    counter-increment: item;
    margin: 2px 0px 2px 0px;
    position: relative;
}

.help .toc li span {
    margin-right: 5px;
}

.help .toc h1 {
    font-size: 1rem;
}

.help .toc li.span {
}

.help .toc a {
    text-decoration: none;
    cursor: pointer;
}

@media (min-width: 992px) {

    .modal-lg.modal-help,
    .modal-xl.modal-help {
        --bs-modal-width: 800px !important;
    }

    .modal-lg.modal-help .modal-body,
    .modal-xl.modal-help .modal-body {
        height: 60vh !important;
    }

}

@media (min-width: 1200px) {

    .modal-lg.modal-help {
        --bs-modal-width: 800px;
    }

    .modal-lg.modal-help .modal-body {
        height: 60vh !important;
    }

    .modal-xl.modal-help {
        --bs-modal-width: 1100px;
    }

    .modal-xl.modal-help .modal-body {
        height: 60vh !important;
    }
}

@media (min-width: 1500px) {

    .modal-lg.modal-help {
        --bs-modal-width: 1000px !important;
    }

    .modal-lg.modal-help .modal-body {
        height: 60vh !important;
    }

    .modal-xl.modal-help {
        --bs-modal-width: 1300px !important;
    }

    .modal-xl.modal-help .modal-body {
        height: 60vh !important;
    }

}